@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main{
    width: 100%;
}

#content{
    height: 100%;
}

#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon p{
margin: 0;
}

.sidebar-icon ion-icon{
    font-size: 2em;
    padding: 0 1em;
}

#topbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    height: 50%;
}

#search-wrapper{
    display: flex;
    height: 50%;
}

#TopThreeIcons{
    display: flex;
}

.topbar-icon ion-icon{
    font-size: 2em;
    padding: 0 0.5em; 
}

#mic-icon ion-icon{
    font-size: 1.7em;
    margin: 0 0.5em;
}

#search-bttn{
    padding: 0 0.6em;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

#content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.thumbnail img{
    width: 415px;
    margin-top: 4em;
    padding: 0.5em;
}

#logo-container{
    display:flex;
}
.logo-epic img{
   width: 40px;
   margin-top: 0;
   padding: 0 0.5em;
}
.logo-info h3{
    margin: 0;
    padding: 0 0.5em;
}
.logo-info p{
    margin: 0;
    padding-left: 0.8em;
}
